<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated notation -->
      <package
            uri="http://www.ravocad.com/runtime/notation"
            class="com.ravocad.notation.NotationPackage"
            genModel="model/notation.genmodel"/>
   </extension>

</plugin>
