<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.ravocad.diagram.wizard.NewDiagramWizard"
            icon="icons/eview16/editor.png"
            id="com.ravocad.diagram.wizard.NewDiagramWizardID"
            name="%newDiagramWizardName">
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.ravocad.diagram.editor.DiagramEditor"
            contributorClass="com.ravocad.diagram.editor.DiagramEditorActionBarContributor"
            extensions="dgm"
            icon="icons/eview16/editor.png"
            id="com.ravocad.diagram.editor.DiagramEditorID"
            name="%editorName">
      </editor>
   </extension>

</plugin>
